@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

/* header section start */

#header {
  display: flex;
  justify-content: space-evenly;
}

.header_text,
.header_pic {
  width: 50%;
}

.header_pic {
  margin-right: 100px;
  margin-top: 30px;
}

.header_text {
  margin-top: 200px;
  margin-left: 100px;
}

.header_title {
  margin-bottom: 0;
  font-size: 50px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  color: rgb(87, 87, 87);
}

.header_title span {
  color: rgb(252, 152, 76);
}

.header_paragraph {
  color: rgb(87, 87, 87);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
}

.header_button {
  text-decoration: none;
  padding: 20px 40px;

  background-image: linear-gradient(
    to right,
    rgb(251, 142, 73),
    rgb(254, 77, 48)
  );
  border-radius: 40px;
  color: white;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* header section end */

/* about me section start */
#about_me {
  display: flex;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.about_pic,
.about_text {
  width: 50%;
  height: 70vh;
}

.person {
  height: 100%;
  margin-top: 80px;
  margin-left: 200px;
}

.about_text {
  margin-top: 80px;
}

.about_title {
  margin-bottom: 0;
  font-size: 50px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  color: rgb(87, 87, 87);
}

.about_paragraph {
  color: rgb(87, 87, 87);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-right: 200px;
  margin-bottom: 100px;
}
.about_button {
  text-decoration: none;
  padding: 20px 40px;

  background-image: linear-gradient(
    to right,
    rgb(251, 142, 73),
    rgb(254, 77, 48)
  );
  border-radius: 40px;
  color: white;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
/* about me section end */

/* my recipies section start */

.recipies_title {
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  color: rgb(87, 87, 87);
}

.recipies_paragraph {
  text-align: center;
  color: rgb(87, 87, 87);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.recipies_card {
  display: flex;
  justify-content: center;
}

.card_img {
  height: 36vh;
}

.card {
  width: 25%;
  border: 15px solid white;
  margin: 10px 20px;
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
}

.card_paragraph {
  color: rgb(87, 87, 87);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* my recipies section end */

/* subscriber section start */
#subscriber {
  display: flex;
  width: 86vw;
  height: 20vh;
  margin: 70px auto;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  line-height: 15px;
}

.subs_title {
  font-family: "Montserrat", sans-serif;
}
.subs_paragraph {
  color: rgb(87, 87, 87);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* subscriber section end */

/* footer section start */
#footer {
  background-color: rgb(10, 13, 22);
  height: 30vh;
}

.footer_title {
  color: rgb(91, 91, 91);
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.footer_title span {
  color: rgb(252, 152, 76);
}

.footer_paragraph {
  color: rgb(211, 210, 210);
  text-align: center;
}
/* footer section end */
